<div><h1>holaaaaaaaaaaaaa</h1></div>
<!-- <input type="text" #inputValue name="" id="name"> -->
<!-- <button (click)="sayHello(inputValue.value)">coger usuarios</button> -->

<input type="number" #numero1 />
<input type="number" #number2 />
<button (click)="sumar(numero1.valueAsNumber, number2.valueAsNumber)">
  sumar
</button>
<!-- Llama directamente a la función en tu plantilla y muestra el resultado -->
<div>{{ sumar(numero1.valueAsNumber, number2.valueAsNumber) }}</div>

<!-- <router-outlet></router-outlet> -->
